# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
* popular languages that data scientists use
* commonly used libraries for data science
* data science tools
* arithmetic expression in python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. matplotlib
3. pandas

 | Data Science Tools| 
 |---------|
 | VS Code Studio| 
 |Jupyter lab/notebook|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutestohour = 200/60
print("200 minutes converted to hours: ",minutestohour,"hours")

200 minutes converted to hours:  3.3333333333333335 hours

## Author 
Ali.M.Yazdani